<h1>Painel administrativo</h1>
<div class="card">
    <div class="card-body" align='center'>
        <div class="d-flex flex-row justify-content-center">
            <div class="pr-5 mr-5 pt-1 pb-1">
                <label for="postagens"><h2 class="mt-2">Postagens:</h2></label><br>
                <a href="/admin/postagens">
                    <button class="btn btn-success mt-1">Gerenciar postagens</button><br>
                </a>
                <a href="/admin/postagens/add">
                    <button class="btn btn-success mt-2">Adicionar postagem</button><br>
                </a>
            </div>
            <div class="border-right "></div>
            <div class="ml-5 pl-5 pt-1 pb-1">
                <label for="categorias"><h2 class="mt-2">Categorias:</h2></label><br>
                <a href="/admin/categorias">
                    <button class="btn btn-success mt-1">Gerenciar categorias</button><br>
                </a>
                <a href="/admin/categorias/add">
                    <button class="btn btn-success mt-2">Adicionar categoria</button><br>                        
                </a>
            </div>

        </div>

    </div>
</div>